@media (max-width: 1280px) { 

.vyhledavani-holder input {
    width:300px;
}
        
.vyhledavani-holder {
     margin-left:0; 
}
        
#vysledek {
    width:250px;
}
    
} 
 
 
@media (max-width: 1100px) { 

.half {
    width:calc(100% - 16px);
}
      
.quater {
    width:calc(100% - 16px);
} 
      
.grid-item-inner {
    width:480px;
    display:block;
    margin:0 auto;
}
 
.doleva:hover {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform:  translateX(0%);
}
   
   
.doprava:hover {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform:  translateX(0%);
}


.grid-item:hover .grid-item-inner {
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    cursor:pointer;
    -webkit-box-shadow: 6px 18px 125px -17px rgba(217,217,224,0);
    -moz-box-shadow: 6px 18px 125px -17px rgba(217,217,224,0);
    box-shadow: 6px 18px 125px -17px rgba(217,217,224,0);
}
 
.vysoky {
    position:static;
    height:944px;
}
 
.nizky {
   height:480px;
}
      
}
 
 

@media (max-width: 992px) { 

.header{
    height:auto;    
}  


.vyhledavani-holder:after {
    right: calc(50% - 130px);
} 



.nadpis-holder {
    width:100%;
    padding-left:0;
    padding-right: 0;
}

.nadpis-holder h1 {
    text-align:center;
}

.vyhledavani-holder {
    width:100%;
    margin-top:0;
    margin-bottom:25px;
    
    display:block;
}

.vyhledavani-holder input {
    display:block;
    margin:0 auto;
}

#vysledek {
    /* position:static; */
    display:block;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform:  translateX(-50%);
}
   
}
 
 
 @media (max-width: 550px) { 

.nadpis-holder h1{ 
     font-size:32px;
}
 
 
 
@media (max-width: 550px) { 

.half {
     width:calc(100% - 16px);
}
      
.quater {
     width:calc(100% - 16px);
} 
      
.grid-item-inner {
    width:280px;
    display:block;
    margin:0 auto;
}
 
.vysoky {
    height:644px;
}
 
.nizky {
    height:292px;
}
      
}